@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
.hii{
    background-color:rgb(253, 199, 134);
    
}
/* body{
    background-image: url(https://slidechef.net/wp-content/uploads/2021/07/education-background-design-google-slide.jpg);
} */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: .3rem;
}
.header_content{
    
    max-width: 1280px;
    margin:0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.1rem;
    

}
.logo-icon{
    height:2rem ;
    width: 1.938rem;
    background-color: #77b05d;
    color: blue;
}
.title2{
    font-size: 3rem;
    font-weight: bold;
   
     font-family: cursive;
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (max-width: 0px) {
    .hii{
        background-color: rgb(253, 199, 134);
    }
}
@media screen and (min-width: 768px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.25rem;
    font-weight: 600;
    transform: color .1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.Contact-Button{
    display: none;
    border: none;
    border-radius: .375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all .1s;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width: 768px) {

    .Contact-Button{
        display: block;
    } 
}
.Contact-Button:hover{
    background-color:#5254f8;
}
.menu-button{
    display: none;
    border: none;
    border-radius: .375rem;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .hii{
        background-color: rgb(253, 199, 134);
    }
   
    .menu-button{
        display: block;
    } 
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    padding-left: 3rem;
}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight:600;
    color: var(--primary-color);
    align-items: center;
}
.section-title{
 font-size: 2.25rem;
 color: var(--text-color);
}
.section-description{
    color:  var(green);
    font-size: 1.2rem;
}
.button-group{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.start-button,
.tour-button{
    border: none;
    border-radius: .375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all .1s;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    gap: 2rem;
}
.tour-button{
    background-color: var(--gray);
}
.start-button:hover{
    background-color:#5254f8;
}

.tour-button:hover{
    background-color:var(--link-color);
}
.content-right{
    display: flex;
    align-items: right;
    justify-content: center;
    padding-right: 3rem;
}
.image-container{
    border: none;
    border-radius:1.2rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0,0.1);
    height: 50vh;
}
.section-image{
    height: 100%;
    width: 100%;
    background-color: black;
}
@media screen and (min-width:768px){
         .main-section{
            flex-direction: row;
         }
         .content-left{
            max-width: 50%;
            text-align: left;
         }
         .button-group{
            justify-content: start;
            padding-left: 0;
         }
         .section-label{
            font-size: 1rem;
            padding-bottom: 0.1rem;
            text-size-adjust: 2rem;
         }
         .image-container{
            height: 70vh;
         }
         .section-description{
           font-size: 1.1rem;
           color:  black;
           width: 80%;
        }

}
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
    
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:3rem;
     padding: 1rem;
    background-color: var(--light-gray);
   size: 4rem;
   border: none;
   border-radius: 0.5rem;
   margin-top: .5rem;
   margin-bottom: 2rem;
   padding: 1rem 2rem;
}
.company-logo{
font-size: 1rem;
font-weight: 500;
display: flex;
gap: .5rem;
}
.ssvg-img{
    height: 30px;
}
.msvg-img{
    height: 30px;
}
.logo-text{
    font-size: 1rem;
    /* padding-bottom: 1rem; */
}
@media screen and (min-width:768px) {

        

    .title1{
        font-size: 2rem;
        font-weight: bold;

    }
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}
.feature-content{
    max-width:  800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-info{
    display: flex;
    flex-direction: column;
    grid: 1rem;
}
.main-title{
    font-size: 2.2rem;

}
.main-description{
    color: var(--gray);
    font-size: 1.1rem;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1rem;
    gap: 2rem;
    size: 5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: .75rem 1rem;
    background-color:#6d7890 ;
    border-radius: .5rem;
    
}
.feature-title{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.feature-description{
    color: white;
}
.feature-card:nth-child(1){

    background-color: #4a90e2;
}
   
.feature-card:nth-child(2){

    background-color: #ff6289;
}
.feature-card:nth-child(3){

    background-color: #fcbf58;
}
.feature-card:nth-child(4){

    background-color: #44bfc3;
}
.feature-card:nth-child(5){

    background-color: #77b05d;
}
.feature-card:nth-child(6){

    background-color: #7d78b1;
}
   .feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }
   @media screen and (max-width:648px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-title{
        
        font-weight: bold;
        
    }
    .feature-description{
        font-weight:lighter;
       
    }
   }

  .testimonial-container{
    background-color: rgb(220, 144, 32);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;

}
.testimonial-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight:bold;
    padding-bottom: 1rem;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
   border-radius: 1rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0,0.1);
   gap: 1rem;
   transition: trasform 0.3s ease box-shadow 0.3s ease;
   background-color: hsl(64, 65%, 38%);
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonial-avatar{
    height: 6rem;
    width:6rem;
    align-content: center;
    padding-left: 6rem;

}
.testimonial-image{
    height: 6rem;
    width:100%;
   align-self: center;
    border-radius: 50%;

}
.testimonial-text{
    font-size: 0.875rem;
}
.newsletter-container{
    background-color: var(--background-color);
    
    max-width: 1280px;
    height: 35vh;
    margin: 0 auto;
}
.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;

    
    border-radius: 8px;
   overflow: hidden;
}
.news-left{
    height: 100%;
    width: 50%;
    display: none;
    position: relative;

}
.news-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
    
}
.news-info{
    padding:0 3rem;
}
.news-title{
    font-size: 2.3rem;
    font-weight: bold;
    color:var(--primary-color) ;

}
.news-desc{
    text-align: left;
    color:#777 ;
}
.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem .75rem;
}
.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.3);
}
.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.news-send-button:hover{
    background-color: var(--link-color);
}
.Privacy-policy{
    font-size: 0.76rem;
    padding:0 3rem ;
    color: #777;
}
.news-link{
    text-decoration: underline;
    color: #2563eb;
    text-decoration: none;
}
@media screen and (min-width:640px){

    .news-left{
        display: block;
    
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
       padding: 2rem;
    }
}
@media screen and (min-width:640px){

    .news-title{
        font-size: 2.5rem;
    }

}
.footer-container{
    
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    border-radius: 1.2rem;
}
.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}
.logo-svg{
    width: 4rem;
    height:4rem;
}
.comp-logo{
    display: flex;
    justify-content: flex-start;
    
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
    gap: .7rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
    padding-bottom: .7rem;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}
.footer-grid-heading
{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}
li{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}
.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
.counter{
    display: flex;
    flex-direction: row;
    float: right;
    gap: 1rem;

}
.counter_text{
    padding-top: .5rem;
    text-align: center;
}